.miniBar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background-color: #eaa6cb !important;
    padding: 10px !important;
}

.buttonGroup {
    display: flex !important;
    gap: 10px !important;
}

input[type="number"] {
    width: 50px !important;
    padding: 5px !important;
}

input[type="text"] {
    padding: 5px !important;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
.miniBarButton {
    background-color: rgb(119, 38, 96) !important;
    border-color: black;
}
.miniBarButton:hover {
    background-color: rgb(32, 3, 22) !important;
    font-weight:bold;
}