body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  body.login-page .navbar, body.register-page .navbar, body.github-login-page .navbar, body.change-password-page .navbar{
      display: none;
  }
  body.login-page .container, body.register-page .container, body.github-login-page .container, body.change-password-page .container {
    padding: 0; 
}

  .button {
    background-color: rgb(227, 112, 194) !important;
    border-color: black;
  }
  .button:hover{
    background-color: rgb(246, 182, 225) !important;
    color: black !important;
    font-weight:bold;
  }
  a {
    text-decoration: none;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar::after {
    content: "";
    display: table;
    clear: both;
  }

  .navbar-brand {
    float: left;
    font-size: 24px;
  }

  .navbar-button {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    float: left;
    position: relative;
  }

  .navbar-button a {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    display: block;
    position: relative;
  }

  .navbar-button:last-child a {
    border-right: none;
  }

  .navbar-button a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #333;
    transform: translateX(-50%);
  }

  h4:hover{
    color:rgb(149, 22, 234)
  }


  .buttonRemove {
    background-color: red !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttonRemove:hover {
    background-color: darkred !important;
}
strong{
  color: rgb(227, 112, 194) !important;
}