<article>
    <form action="/auth/sessions/changePassword" method="post" enctype="application/x-www-form-urlencoded">
        <header>
            <h1>Reset Password</h1>
        </header>
        <input type="email" placeholder="Current Email" id="email" name="email" required>
        <input type="password" placeholder="New Password" id="newPassword" name="password" required>
        <button type="submit" class="buttonForm">Change Password</button>
    </form>
</article> 

<link rel="stylesheet" href="./css/login.css">