<div id="chat">
    <div id="hiddenEmail" style="display:none">{{user.email}}</div>

    <div id="messages">
        {{#each messages}}
            <div class="message">
                <strong>{{this.userEmail}}:</strong> {{this.message}}
            </div>
        {{/each}}
    </div>
    <textarea id="message" placeholder="Write your message..."></textarea>
    <button id="send" class="button">Send</button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('new message', (message) => {
        const messagesDiv = document.getElementById('messages');
        const newMessageDiv = document.createElement('div');
        newMessageDiv.className = 'message';
        newMessageDiv.innerHTML = `<strong>${message.user}:</strong> ${message.content}`;
        messagesDiv.appendChild(newMessageDiv);
    });

    document.getElementById('send').addEventListener('click', async () => {
        const messageText = document.getElementById('message').value;
        const userEmail = document.getElementById('hiddenEmail').textContent;
        document.getElementById('message').value = '';

        const message = {
            user: userEmail,
            content: messageText
        };
        socket.emit('new message', message);

        const response = await fetch('/api/messages', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ user: userEmail, message: messageText })
        });

        const result = await response.json();
        if (result && result._id) {}
    });

</script>