<div>
    <h1>Bienvenido al ecommerce!</h1>
    <h2>{{this.name}}, {{this.lastname}}</h2>
    <div>
        <a href="/api/messages?user={{this.email}}"><button>Chat</button></a>
    </div>
    <div>
        <a href="/api/products"><button>Products</button></a>
    </div>
    <div>
        <a href="/api/carts/653d93937f9bb56f041835cc"><button>Cart</button></a>
    </div>
</div>

