<article>
    <form action="/auth/sessions/login-github" method="post" enctype="application/x-www-form-urlencoded" class="PutEmail">
        <header>
            <h1>Associate github account with your email</h1>
        </header>
        <input type="email" placeholder="Your Email"  id="email" name="email" required>
        <h6> ! Your Github account does not have a public email, but we need one to associate it in case you want to log in with another method</h6>
        <button type="submit" class="buttonForm" >Associate email</button>
    </form>
</article>
    
<link rel="stylesheet" href="./css/login.css">