<article>
    <form action="/auth/sessions/login" method="post" enctype="application/x-www-form-urlencoded">
        <header>
            <h1>Login</h1>
        </header>
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <footer>
            <input type="submit" class="buttonForm" value="Log in">
        </footer>
    </form>
    <div>
        <a href="/changePassword"><h5 class="buttonText">Forgotten your password?</h5></a>
    </div>
    <div>
        <a href="/register" ><h5 class="buttonText">Are you not register?</h5></a>
    </div>
    <div>
        <a href="/auth/sessions/github" ><h5 class="buttonText">Login with GitHub</h5></a>
    </div>
</article>

<link rel="stylesheet" href="./css/login.css">